/* colours */

:root {
  --main-green: rgba(134, 196, 112, 0.5);
  --main-blue: rgba(41, 55, 105, 0.3);
  --text-grey: #454545;
  --translucent: rgba(255,255,255,0);
}

/* limit width for articles */
article {
  max-width: 60ch;
}

body {
  max-width: 70ch;
}

/* code blocks */
div.highlight {
  width: 70ch;
  position: relative;
  left: -5ch;
}

div.highlight > pre {
  padding: 1ch 2ch;
  border-radius: 10px;
  overflow: auto;
}

p code, li code {
  background: lightgray;
  padding: 0.5px 3px;
  border-radius: 3px;
  white-space: nowrap;
}

/* no-underline title */
.main-title {
  text-decoration: none;
  font-size: 48px;
  font-weight: bold;
}

/* topnav: right align the about etc */
.topnav {
  overflow: hidden;
  position: relative;
}

.topnav-right {
  float: right;
  position: absolute;
  bottom: 16%;
  right: 15%;
}

/* align footer the same way */
.bottomnav {
  /* overflow: hidden; */
  position: relative;
  padding-top:10vh;
}

.bottomnav-right {
  float: right;
  position: absolute;
  bottom: 5%;
  right: 15%;
}

/* post styling */
.article-title {
  font-size: 36px;
  text-align: left;
  margin-bottom: 10px;
}

.article-title span {
  background: var(--main-green);
  padding: 10px 0px;
}

.article-date {
  font-size: 14px;
}

ul.tag-list {
  list-style: none;
  padding-left: 0;
}

.tag-list li {
  display: inline;
  padding-right: 10px;
  font-family: monospace;
}

.tag-list a::before {
  content: "#";
  padding-right: 1px;
}

/* anchors in headings */
a.heading-anchor {
  color: var(--text-grey);
  text-decoration: none; 
  background: linear-gradient(180deg,var(--translucent) 60%, var(--main-green) 50%);
  padding: 5px 0px;
}

a.heading-anchor:visited {
  color: var(--text-grey);
}

a.heading-anchor:hover {
  color: var(--text-grey);
}

a.heading-anchor:active {
  color: var(--text-grey);
}

article a {
  text-decoration: none;
  background: linear-gradient(180deg,var(--translucent) 80%, var(--main-green) 50%);
}

p a:visited, li a:visited {
  color: var(--text-grey);
  background: linear-gradient(180deg,var(--translucent) 80%, var(--main-blue) 50%);
}

p a:hover, li a:hover {
  color: var(--text-grey);
  background: linear-gradient(180deg,var(--translucent) 80%, var(--main-blue) 50%);
}

p a:active, li a:active {
  color: var(--text-grey);
  background: linear-gradient(180deg,var(--translucent) 80%, var(--main-blue) 50%);
}

/* images */
article img {
  max-width: 60ch;
  border-radius: 10px;
}