/* limit width for articles */
article {
  max-width: 60ch;
}

body {
  max-width: 70ch;
}

/* code blocks */
div.highlight {
  width: 70ch;
  position: relative;
  left: -5ch;
}

div.highlight > pre {
  padding: 1ch 2ch;
  border-radius: 15px;

}

article > p > code {
  background: lightgray;
  padding: 0.5px 3px;
  border-radius: 0.3em;
  white-space: nowrap;
}

/* no-underline title */
.main-title {
  text-decoration: none;
  font-size: 48px;
  font-weight: bold;
}

/* topnav: right align the about etc */
.topnav {
  overflow: hidden;
  position: relative;
}

.topnav-right {
  float: right;
  position: absolute;
  bottom: 16%;
  right: 15%;
}

/* align footer the same way */
.bottomnav {
  /* overflow: hidden; */
  position: relative;
  padding-top:10vh;
}

.bottomnav-right {
  float: right;
  position: absolute;
  bottom: 5%;
  right: 15%;
}

/* post styling */
.article-title {
  font-size: 36px;
  text-align: left;
  margin-bottom: 10px;
}

.article-title span {
  /* background: #86C470; */
  background: rgba(134, 196, 112, 0.5);
  /* background: linear-gradient(180deg,rgba(255,255,255,0) 60%, lightgray 40%); */
  padding: 10px 0px;
}

.article-date {
  font-size: 14px;
}

ul.tag-list {
  list-style: none;
  padding-left: 0;
}

.tag-list li {
  display: inline;
  padding-right: 10px;
  font-family: monospace;
}

.tag-list a::before {
  content: "#";
  padding-right: 1px;
}

/* post list styling */
